{% load static %}

	
	<form method="POST" action="{% url 'Calificaciones:Calificar' object.pk %}">
	{% csrf_token %}
	  
		<div style="float: left;" class="valoracion">
				<div class="form-check">
					<input class="form-check-input star" type="radio"  name="calificacion" value="5" id="id_calificacion_5" required>

					<label class="form-check-label star" for="id_calificacion_5">
						
							<i class="fas fa-star"></i>

					</label>
				</div>
				
				<div class="form-check">
					<input class="form-check-input star" type="radio" name="calificacion" value="4" id="id_calificacion_4" required>
					<label class="form-check-label star" for="id_calificacion_4">
						
							<i class="fas fa-star"></i>

					</label>
				</div>
				
				<div class="form-check">
					<input class="form-check-input star" type="radio" name="calificacion" value="3" id="id_calificacion_3" required>
					<label class="form-check-label star" for="id_calificacion_3">

						
							<i class="fas fa-star"></i>

					</label>
				</div>
				
				<div class="form-check">
					<input class="form-check-input star" type="radio" name="calificacion" value="2" id="id_calificacion_2" required>

					<label class="form-check-label star" for="id_calificacion_2">
						
							<i class="fas fa-star"></i>

						
					</label>
				</div>
				
				<div class="form-check">
					<input class="form-check-input star" type="radio" name="calificacion" value="1" id="id_calificacion_1" required>
					<label class="form-check-label star" for="id_calificacion_1">
						
							<i class="fas fa-star"></i>

					</label>
				
				</div>

				<input type="submit" class="btn btn-success" value="Calificar" >
							
		</div>	
	</form>

	