{% extends 'base.html' %}

{% block content %}
<body class="loginBody">
    <div class="container h-100">
        <body class="mastbody">
            <div class="container h-100">
<div class="row h-100 align-items-center justify-content-center text-center">
	<div class="jumbotron">
<h3>Ingrese Nuevo Password</h3>
<p>Ingrese y confirme ambos password correctamente</p>

<form method="POST">
    
    {% csrf_token %}
   <label for="id_new_password1">Contraseña nueva:</label>
   <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list" class="form-control">
   <span class="helptext"><ul><li>Su contraseña no puede ser similar a otros componentes de su información personal.</li><li>Su contraseña debe contener por lo menos 8 caracteres.</li><li>Su contraseña no puede ser una contraseña usada muy comúnmente.</li><li>Su contraseña no puede estar formada exclusivamente por números.</li></ul></span>
   <label for="id_new_password2">Confirmación de contraseña nueva:</label>
   <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class="form-control">
   <br>
   <input type="Submit" value="Actualizar Password" class="btn btn-primary" >

</form>
	</div>
    </div>
            </div>
        </body>
    </div>
</body>
{% endblock %}