{% extends "Base.html" %}

{% block content %}
<body class="loginBody">
    <div class="container h-100">
        <body class="mastbody">
            <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
<form method="post">
    {% csrf_token %}
    <div class="container login">
        <p>{{form.errors}}</p>
        
        <label for="id_old_password">Contraseña antigua:</label>
    <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
    <label for="id_new_password1">Contraseña nueva:</label>
    <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
    <br>
    <span class="helptext"><ul><li>Su contraseña no puede ser similar a otros componentes de su información personal.</li><li>Su contraseña debe contener por lo menos 8 caracteres.</li><li>Su contraseña no puede ser una contraseña usada muy comúnmente.</li><li>Su contraseña no puede estar formada exclusivamente por números.</li></ul></span>
    <label for="id_new_password2">Confirmación de contraseña nueva:</label>
    <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
    <br>
   <input type="Submit" value="Actualizar Password" class="btn btn-primary" >
    </div>
    
</form>
            </div>
            </div>
        </body>
    </div>
</body>
{% endblock content %}
