{% extends "Base.html" %}
{% block title %}
<title> Trabajadores </title>
{% endblock title %}
{% block content %}
<header class="mastbody"> </header>
    <div class="container h-100">
    <br>
    <br>
    <br>

        <div class="container table" style="border-radius: 5px; margin: 10px; padding: 10px; background-color: rgba(255, 255, 255, 0.959); filter:alpha(opacity=90); opacity:0.9;">
            <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive"> 
                            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="filtro row">
                                    <div class="col-sm-12 col-md-6 rubro">
                                        <label for="rubro">Filtre por Rubros</label>
        
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <form method="GET" id="filtroZona" action="{% url 'Trabajadores:filtroZona' %}">
                                            <div class="form-group">
                                                <label for="zonas">Filtre por zonas</label>
                                                <select class="form-control" id="zonas">
                                                  <option>Todos</option>
                                                  {% for z in zonas %}
                                                    <option>{{z}}</option>
                                                    
                                                  {% endfor %}
                                                </select>
                                              </div>
                                              
                                     
                                          </form>
                                    </div>
        
                                </div> 
                            </div>   
                            
                            
                              <br>
                            <table id="TableT" class="display table table-hover table-bordered " style="width:100%">
                            <thead>
                                <tr>
                                    <th>Ranking</th>
                                    <th>Nombre</th>
                                    <th class="select-filter">Rubro</th>
                                    <th>Especialidad</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                {% include "Usuarios/Trabajadores/Listar_table.html" %}
    
                            </tbody>  
                                 
                        </table>                  
                        </div>
                    </div>
            </div>  
        </div>
    </div>

    



{% endblock content %}
